header{
color:#ffdab9;
padding : 10px;

}
nav{
text-align:Right;
color:#e9967a;
font- family:arial sans-scref;
}
section
{
color:#afeee;
background color:#ffdab9;
}
container
{
padding:10px;
}
body{

background color: #ffa07a;
}
